<section class="card">
    <div  class="card-header">
      <h4>{{blogpost.title}}</h4>
      <p>Created by {{blogpost.user.username}} on {{format_date blogpost.createdAt}}</p>
    </div>
    <p class="description">{{blogpost.description}}</p>
    <form id="add-comment">
        <div class="form-group">
            <div class="new-description">
                <label>Add a Comment: </label>
                <textarea id="comment-description"></textarea>
            </div>
        </div>
        <div class="submit-comment">
            <button class="btn btn-primary" type="submit">Comment</button>
        </div>
    </form>
</section>

<script src="/js/addComment.js"></script>