<div>
    <h3>Your Dashboard:</h3>
</div>
{{#each blogposts}}
    <a href="/dashboard/{{id}}" class="dashboard-post">
        <h5>{{title}}</h5>
        <p>{{format_date createdAt}}</p>
    </a>
{{/each}}
<div class="new-post">
    <a href="/api/userblogpost">
        <button class="btn btn-primary">+ New Post</button>
    </a>
</div>
